/Aluno.class
/AlunoTurma.class
/AlunoTurmaPK.class
/Bancaexaminadora.class
/Disciplina.class
/Docente.class
/Examinador.class
/ExaminadorPK.class
/Linhadepesquisa.class
/Pessoa.class
/Publicacao.class
/Turma.class
/TurmaDocente.class
/TurmaDocentePK.class
/Vinculo.class
/Professor.class
/LinhaDePesquisa.class
